body {
    background-color: #FFD174;
}

.welcomepara {
    font-family: 'Lora', serif;
    font-size: 35px; font-weight: 550;
    text-align: center;
    margin-top: 75px;
}

.scorediv, .leveldiv {
    border-radius: 50%; border: none;
    width: 200px; height: 200px;
    background-color: rgb(194, 94, 23);
    position: relative;
}

.scorediv p, .leveldiv p {
    text-align: center; align-items: center;
    color: lightgray; font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    visibility: hidden;
}

.scoreleveldiv {
    display: flex; flex-direction: row;
    gap: 75px; justify-content: center;
    margin-top: 125px;
}

.scorelevelspan {
    font-size: 80px; display: block;
    color: chartreuse; visibility: visible;
}

.nextlevellink button, .whereamilink button, .logoutlink button {
    border: 1.5px solid chocolate; border-radius: 30px;
    width: 230px; height: 50px;
    text-align: center; font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: auto; cursor: pointer;
}

.nextlevellink, .whereamilink, .logoutlink {
    margin: auto;
}

.logoutlink button {
    background-color: transparent;
}

.threelinksdiv {
    display: flex; flex-direction: column;
    gap: 15px; width: 100%; justify-content: center;
    margin-top: 25px;
}

.curved-text-score {
  width: 300px; height: 150px;
  z-index: 1000;
  position: absolute; top: 100px; left: 112px;
}

.curved-text-level {
  width: 300px; height: 150px;
  z-index: 1000;
  position: absolute; top: 100px; right: 112px;
}

.curved-text text {
  font-size: 20px; fill: white;
  font-family: 'Poppins', sans-serif;
  text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 20px white,
        0 0 30px white,
        0 0 40px white;
  letter-spacing: 1.25px;
}