body {
    background-color: #FFD174;
}

.welcomepara {
    font-family: 'Lora', serif;
    font-size: 35px; font-weight: 550;
    text-align: center;
    margin-top: 75px;
}

.scorediv, .leveldiv {
    border-radius: 50%; border: none;
    width: 20vw; height: 20vw;
    background-color: rgb(194, 94, 23);
    position: relative;
}

.scoreleveldiv {
    display: flex; flex-direction: row;
    gap: 75px; justify-content: center;
    margin-top: 125px;
}

@media (min-width: 730px) and (max-width: 830px) {
  .welcomepara {
    font-size: 25px;
  }
}
@media (min-width: 580px) and (max-width: 830px) {
  .welcomepara {
    font-size: 30px;
  }
}
@media (max-width: 580px) {
  .welcomepara {
    display: none;
  }
  .scorediv, .leveldiv {
    width: 25vw; height: 25vw;
  }
}

.scorediv p, .leveldiv p {
    text-align: center; align-items: center;
    color: lightgray; font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    visibility: hidden;
}

.scoreleveldiv {
    display: flex; flex-direction: row;
    gap: 45px; justify-content: center;
    margin-top: 125px;
}

.textspan {
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.25px;
    visibility: visible;
}

.scorelevelspan {
    font-size: 8vw; display: block;
    color: chartreuse; visibility: visible;
}
@media (min-width: 580px) and (max-width: 765px) {
  .scorelevelspan {
    font-size: 6.75vw;
  }
}
@media (min-width: 730px) and (max-width: 910px) {
  .textspan {
    font-size: 17px;
  }
}
@media (min-width: 680px) and (max-width: 730px) {
  .textspan {
    font-size: 15px;
  }
}
@media (min-width: 580px) and (max-width: 680px) {
  .textspan {
    font-size: 14px;  color: black;
    position: relative; top: 5vw;
  }
  .scorelevelspan {
    position: relative; bottom: 2vw;
  }
}
@media (max-width: 580px) {
  .textspan {
    font-size: 2.75vw;
    position: relative; bottom: 5vw;
  }
  .scorelevelspan {
    position: relative; bottom: 6vw;
  }
  .scoreleveldiv {
    margin-bottom: 10vw;
  }
}

.nextlevellink button, .whereamilink button, .logoutlink button {
    border: 1.5px solid chocolate; border-radius: 30px;
    width: 230px; height: 50px;
    text-align: center; font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: auto; cursor: pointer;
}

.nextlevellink, .whereamilink, .logoutlink {
    margin: auto;
}

.logoutlink button {
    background-color: transparent;
}

.threelinksdiv {
    display: flex; flex-direction: column;
    gap: 15px; width: 100%; justify-content: center;
    margin-top: 25px;
}

.curved-text-score {
  width: 300px; height: 150px;
  z-index: 1000;
  position: absolute; top: 100px;
  left: calc((100vw - 400px) / 10);
}

.curved-text-level {
  width: 300px; height: 150px;
  z-index: 1000;
  position: absolute; top: 100px; right: 11.2vw;
}