body {
    background-image: url("./Screenshot\ 2025-07-26\ 093404.png");
    background-size: cover;
}

.noaccountpara {
    font-size: 17px; font-family: 'Lora', serif;
    text-align: center; margin-bottom: 45px;
    margin-top: 15px;
}

.noaccountlink {
    color: chocolate; font-weight: 500;
    margin-top: 15px;
}

.loginhead {
    font-size: 34px; font-family: 'Poppins', sans-serif;
    text-align: center; font-weight: 600;
    margin-top: 75px; margin-bottom: 0;
}

label {
    padding-left: 70px; margin-bottom: 0;
    font-size: 18.5px; font-family: 'Lora', serif;
    color: black; font-weight: 500;
}

form {
    border: 2px solid chocolate;
    padding: 20px; border-radius: 10px;
    width: 450px; height: 320px;
    display: flex; flex-direction: column;
    justify-content: center; padding-bottom: 13.5px;
    padding-top: 27.5px; margin: auto;
    padding-top: 34px; outline: 1.2px solid chocolate;
}
@media (max-width: 480px) {
  form {
    width: 280px;
  }
  label { 
    text-align: center; padding-left: 0;
  }
}
@media (min-width: 480px) and (max-width: 550px) {
  form {
    width: 380px;
  }
}

input {
    width: 65%; height: 42px; margin: auto;
    border: none; border-radius: 10px;
    padding-left: 20px; color: black;
    font-size: 17px; font-family: 'Lora', serif;
    background-color: azure;
    margin-top: 12px; margin-bottom: 20px;
}

button {
    margin: auto; background-color: rgb(188, 91, 22);
    border-radius: 30px; border: none;
    width: 100px; height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px; font-weight: 600;
    color: white; margin-bottom: 22px;
    cursor: pointer; margin-top: 7px;
}

.logo {
    width: 75px; height: 75px;
    border-radius: 50%; border: none;
    position: absolute; top: 12px; left: 12px;
}