<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Law Quest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    {% block content %}
    <img class="logo" src="../static/la.jpg" />
    <h2 class="loginhead">Login</h2>
    <p class="noaccountpara">Don't have an account? <a class="noaccountlink" href="/auth/signup">Sign Up</a></p>
    <form method="POST">
        <label>Username:</label>
        <input type="text" placeholder="Enter username" name="username" required><br>
        <label>Password:</label>
        <input type="password" placeholder="Enter password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
    {% endblock %}
</body>
</html>
