<!DOCTYPE html>
<html>
<head>
  <title>Quiz | LexArena</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style4.css">
</head>
<body>
    {% block content %}
    <a href="/quiz/home"><img class="logo" src="../static/la.jpg" /></a>
    <h1 class="levelhead">Level {{ level }}</h1>
    <div class="qadiv">
        <p class="question">{{ question }}</p>
        <form method="POST" action="/quiz/submit">
            <input type="hidden" name="ipc_section" value="{{ ipc_section }}">
            <input type="hidden" name="level" value="{{ level }}">
            <label class="instruct">Select correct IPC Sections (you can choose multiple):</label><br><br>
            <div class="alloptions">
                {% for option in options %}
                    <div><input class="checkboxes" type="checkbox" name="selected_answers" value="{{ option }}"><p class="eachoption">{{ option }}</p><br></div>
                {% endfor %}
            </div>
            <br><button class="submitbtn" type="submit">Submit</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
